  /* =========================
     Buttons
  ========================= */

  .event-detail-back {
    position: absolute;

    top: calc(18px + env(safe-area-inset-top));
    left: 18px;

    z-index: 20;

    width: 42px;
    height: 42px;

    border-radius: 999px;

    background: rgba(255,255,255,.92);

    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    box-shadow:
      0 8px 22px rgba(0,0,0,.08);

    display: grid;
    place-items: center;

    color: var(--primary-dark);

    font-size: 26px;
    line-height: 1;

    border: none;
  }

  .event-detail-actions {
    position: absolute;

    top: calc(18px + env(safe-area-inset-top));
    right: 18px;

    z-index: 20;

    display: flex;
    align-items: center;
    gap: 9px;
  }

  .event-detail-action {
    width: 42px;
    height: 42px;

    border: none;
    border-radius: 999px;

    background: rgba(255,255,255,.92);

    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    box-shadow:
      0 8px 22px rgba(0,0,0,.08);

    display: grid;
    place-items: center;

    color: var(--primary-dark);

    font-size: 20px;
    font-weight: 850;
    line-height: 1;

    cursor: pointer;
  }

  .event-detail-action.active {
    background: var(--primary-dark);
    color: #fff;
  }

  .event-detail-save {
    font-size: 20px;
  }

  .event-detail-more {
    font-size: 25px;

    padding-bottom: 4px;
  }
