<nav class="mobile-menu-nav">

  <a
    class="mobile-menu-link"
    href="./index.html"
  >
    探索
  </a>

  <a
    class="mobile-menu-link"
    href="./city.html"
  >
    城市
  </a>

  <a
    class="mobile-menu-link"
    href="./transport.html"
  >
    交通
  </a>

  <a
    class="mobile-menu-link"
    href="./event.html"
  >
    活動
  </a>

</nav>

<div class="mobile-menu-group">

  <div class="mobile-menu-label">
    Official
  </div>

  <nav class="mobile-menu-nav">

    <a
      class="mobile-menu-link"
      href="./emergency.html"
    >
      緊急聯絡
    </a>

    <a
      class="mobile-menu-link"
      href="./government.html"
    >
      政府單位
    </a>

  </nav>

</div>

<div class="mobile-menu-group">

  <nav class="mobile-menu-nav">

    <a
      class="mobile-menu-link"
      href="./my.html"
    >
      我的
    </a>

  </nav>

</div>